fastapi
uvicorn[standard]
python-multipart
 
PyMuPDF
pdfplumber
pdf2image
 
pytesseract
Pillow
numpy
pydantic
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-chroma
flashrank
rank_bm25
